    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <div class="top-footer navbar-shadow">
        <div class="container">
            <div class="row text-center text-md-left">
                <div class="col-md-4 p-2">
                    <h5 class="w-500 text-color">eCommerce Platform</h5>
                    <ul class="list-unstyled">
                        <li class="">
                            <a href="about.html" >เกี่ยวกับเรา</a>
                        </li>
                        <li class="">
                            <a href="terms-conditions.html" >ข้อตกลงและเงื่อนไข</a>
                        </li>
                        <li>
                            <a href="privacy-policy.html">นโยบายความเป็นส่วนตัว</a>
                        </li>
                        <li>
                            <a href="consignment.html">ร่วมขายสินค้ากับเรา</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 p-2">
                    <h5 class="w-500">ศูนย์ดูแลลูกค้า</h5>
                    <ul class="list-unstyled">
                        <li class="">
                            <a href="order-process.html" >การสั่งซื้อสินค้า</a>
                        </li>
                        <li class="">
                            <a href="order-process.html" >การส่งสินค้า</a>
                        </li>
                        <li>
                            <a href="contact.html">ติดต่อเรา</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 p-2">
                    <h5 class="w-500">บริการจัดส่ง</h5>
                    <ul class="list-unstyled">
                        <li class="">
                            <a href="#" >ไปรษณีย์ไทย</a>
                        </li>
                        <li class="">
                            <a href="#" >SCG EXPRESS</a>
                        </li>
                        <li>
                            <a href="#">DHL Express</a>
                        </li>
                        <li>
                            <a href="#">Kerry Express</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN: Footer-->
    <footer class="footer footer-transparent footer-light text-center">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 container center-layout"><span class="text-color w-500"> &copy; 2021 eCommerce Platform</span></p>
    </footer>
    <!-- END: Footer-->