<%- include header %>
  <!-- BEGIN: Page CSS-->
  
  <!-- END: Page CSS-->
  <title><%- title %> | eCommerce platform</title>
<%- include top-menu %>
  <!-- BEGIN: Content-->
  <div class="app-content container center-layout mt-2">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">            
            
        </div>
    </div>
</div>
<!-- END: Content-->
    
<%- include all-script %>
  <!-- BEGIN: Page JS-->
  
  <!-- END: Page JS-->
  </body>
</html>
