</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  " data-open="click" data-menu="horizontal-menu" data-col="2-columns">
    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item"><a class="navbar-brand" href="/">
                            <h3 class="brand-text text-color w-600">eCommerce platform</h3>
                        </a></li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>
            </div>
            <div class="navbar-container container center-layout">
                <div class="collapse navbar-collapse" id="navbar-mobile">                    
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>                      
                        <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="/search"><i class="ficon ft-search"></i></a>
                            <div class="search-input">
                                <input class="input" type="text" placeholder="ค้นหาสินค้า..." tabindex="0" data-search="template-list">
                                <div class="search-input-close"><i class="ft-x"></i></div>
                                <ul class="search-list"></ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-th"></i><span class="selected-language"></span></a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#" data-language="en"><i class="flag-icon flag-icon-us"></i> English</a><a class="dropdown-item" href="#" data-language="fr"><i class="flag-icon flag-icon-th"></i> ภาษาไทย</a>
                            </div>
                        </li>
                        <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ft-shopping-cart"></i></a>                           
                        </li>
                        <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="mr-1 user-name text-bold-700">Chinnawat</span><span class="avatar avatar-online"><img src="/assets/images/tam.jpg" alt="avatar"><i></i></span></a>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="/profile"><i class="ft-user"></i> Edit Profile</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="/logout"><i class="ft-power"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
        <div class="navbar-container main-menu-content container center-layout bg-tran" data-menu="menu-container">
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="dropdown nav-item" >
                    <a class=" nav-link" href="/" >
                        <i class="la la-home"></i><span data-i18n="Dashboard">หน้าแรก</span>
                    </a>                    
                </li>
                <li class="dropdown nav-item" >
                    <a class=" nav-link" href="/order-process" >
                        <i class="la la-television"></i><span data-i18n="Templates">ขั้นตอนการสั่งสินค้า</span>
                    </a>                    
                </li>
                <li class="dropdown nav-item" ><a class=" nav-link" href="/question" ><i class="ft-edit"></i><span data-i18n="Templates">ถาม-ตอบข้อสงสัย</span></a>                    
                </li>
                <li class="dropdown nav-item"><a class=" nav-link" href="/contact" ><i class="la la-comments-o"></i><span data-i18n="Templates">ติดต่อเรา </span></a></li>                
            </ul>
            <ul class="nav navbar-nav float-right" style="align-items: center;" data-menu="menu-navigation">
                <li class="dropdown nav-item" ><a class="nav-link" href="/login" ><span >เข้าสู่ระบบ</span></a>                    
                </li>
                <li class="dropdown nav-item" ><a class="nav-link" href="/register" ><span>สมัครสมาชิก</span></a>                    
                </li>
                <li class="dropdown nav-item" ><a class="nav-link" href="/consignment" ><i class="ft-package"></i><span>ฝากขายสินค้า</span></a></li>
            </ul>
        </div>
    </div>
    <svg width="0" height="0" class="hidden">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" id="technology (1)">
          <g fill="none">
            <path d="M17 8v14l13 7 13-7V8L30 1z" fill="#e8edfc"></path>
            <path d="M30 1l-1.5.808L40 8v14l-11.5 6.192L30 29l13-7V8z" fill="#cad9fc"></path>
            <path d="M17.924 7.5l-.041.022zm-.041.024l-.377.2zm-.377.203l-.208.112zm-.206.112l-.1.054zm-.1.054l-.153.082zm3.562 14.517L20 22V8l3.127-1.684L20.924 7.5l-.041.022-.377.2-.208.112-.1.054-.153.082.153-.082.1-.054.208-.112.377-.2.041-.022L31.5 1.808 30 1 17.924 7.5l2.2-1.186L17 8v14l.762.41L30 29l1.5-.808z" fill="#fff"></path>
            <path d="M16 14h2v8h-2z" fill="#fff"></path>
            <g fill="#428dff">
              <circle cx="17" cy="18" r="1"></circle>
              <path d="M44 22V8a1 1 0 00-.487-.858c-.013-.008-.028-.011-.042-.018l-13-7a1 1 0 00-.948 0l-13 7 .009.016a.9.9 0 00-.519.86H16v6a1 1 0 002 0V9.673l2.526 1.358a1 1 0 10.948-1.762L19.111 8 30 2.136 40.889 8l-2.363 1.27a1 1 0 10.948 1.762L42 9.673V21.4l-11 5.926V24a1 1 0 00-2 0v3.326L17.474 21.12a1 1 0 10-.948 1.76l13 7a1 1 0 00.948 0l13-7A1 1 0 0044 22z"></path>
              <path d="M30 19a1 1 0 001-1v-2.4l3.474-1.867a1 1 0 10-.948-1.762L30 13.865l-3.526-1.9a1 1 0 10-.948 1.762L29 15.6V18a1 1 0 001 1zm19.7 7.24l4.3-1.282a1 1 0 10-.572-1.916l-6.708 2a1 1 0 00-.672 1.244l2 6.708a1 1 0 101.916-.572l-1.339-4.491C54.594 31.21 58 35.84 58 40.762 58 50.267 45.439 58 30 58S2 50.267 2 40.762c0-4.912 3.41-9.547 9.38-12.827l-1.338 4.487a1 1 0 101.916.572l2-6.708a1 1 0 00-.672-1.244l-6.708-2a1 1 0 00-.572 1.916l4.3 1.283C3.746 29.881 0 35.125 0 40.762 0 51.37 13.458 60 30 60s30-8.63 30-19.238c0-5.646-3.739-10.882-10.3-14.522z"></path>
              <path d="M21 33a3.994 3.994 0 00-3.8 2.736 1.001 1.001 0 001.9.631A2 2 0 1121 39a1 1 0 000 2 2 2 0 11-1.9 2.633 1.001 1.001 0 00-1.9.631A4 4 0 1023.643 40 4 4 0 0021 33zm9 14a4.277 4.277 0 004-4.5 4.277 4.277 0 00-4-4.5 3.572 3.572 0 00-1.327.274 5.5 5.5 0 012.736-3.362 1 1 0 10-.818-1.824C26.052 35.125 26 41.72 26 42a.977.977 0 00.031.154c-.008.116-.031.228-.031.346a4.277 4.277 0 004 4.5zm0-7a2.3 2.3 0 012 2.5 2.3 2.3 0 01-2 2.5 2.3 2.3 0 01-2-2.5 2.3 2.3 0 012-2.5zm5-3v6a4 4 0 108 0v-6a4 4 0 10-8 0zm6 0v6a2 2 0 11-4 0v-6a2 2 0 114 0z"></path>
            </g>
          </g>
        </symbol>
      </svg>
      <svg width="0" height="0" class="hidden">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="tam-ar-white">
          <path class="svg-white" d="M286.1 102.1L256 118.3l-30.1-16.2c-4.2-2.2-9.3-.7-11.6 3.5s-.7 9.3 3.5 11.6l29.6 16v20.5c0 4.7 3.8 8.5 8.5 8.5s8.5-3.8 8.5-8.5v-20.5l29.6-15.9c4.2-2.2 5.7-7.4 3.5-11.6-2.1-4.2-7.3-5.8-11.4-3.6z"></path>
          <path class="svg-white" d="M375.5 187.7V68.3c0-3-1.6-5.8-4.2-7.3-.1-.1-.2-.1-.4-.2L260 1.1c-2.5-1.4-5.6-1.4-8.1 0L141 60.8c-.1.1-.2.1-.4.2-2.6 1.6-4.1 4.3-4.1 7.3v119.5c0 3.1 1.7 6 4.5 7.5L252 255c2.5 1.4 5.6 1.4 8.1 0L371 195.2c2.7-1.4 4.5-4.3 4.5-7.5zm-17.1-5.1l-93.9 50.6v-28.4c0-4.7-3.8-8.5-8.5-8.5s-8.5 3.8-8.5 8.5v28.4l-93.9-50.6V82.5l21.6 11.6c4.2 2.2 9.3.7 11.6-3.5s.7-9.3-3.5-11.6l-20.2-10.8 92.9-50 92.9 50L328.7 79c-4.2 2.2-5.7 7.4-3.5 11.6s7.4 5.7 11.6 3.5l21.6-11.6v100.1z"></path>
          <path class="svg-white" d="M424.1 223.9l36.7-10.9c3-.8 5.3-3.2 6-6.2s-.2-6.2-2.5-8.3c-2.3-2.1-5.5-2.8-8.4-1.9l-57.2 17.1c-4.5 1.3-7.1 6.1-5.7 10.6l17.1 57.2c1.1 3.6 4.4 6.1 8.2 6.1.8 0 1.6-.1 2.4-.3 2.2-.6 4-2.1 5.1-4.1 1.1-2 1.3-4.3.7-6.5l-11.4-38.3c50.9 28 80 67.5 80 109.5C495.1 429 387.9 495 256.2 495S17.3 429 17.3 347.9c0-41.9 29.1-81.5 80-109.5l-11.4 38.3c-.6 2.2-.4 4.5.7 6.5s2.9 3.5 5.1 4.1c.8.2 1.6.3 2.4.3 3.8 0 7.1-2.5 8.2-6.1l17.1-57.2c1.3-4.5-1.2-9.3-5.7-10.6l-57.2-17.1c-4.5-1.2-9.1 1.3-10.4 5.8-1.3 4.4 1.1 9.1 5.6 10.6l36.7 10.9C32 255 0 299.7 0 347.8 0 438.4 114.8 512 256 512s256-73.6 256-164.2c0-48.1-31.9-92.8-87.9-123.9z"></path>
          <path class="svg-white" d="M179.2 281.6c-14.7 0-27.8 9.4-32.4 23.3-1.5 4.5.9 9.3 5.4 10.8s9.3-.9 10.8-5.4c2.8-8.3 11.3-13.1 19.8-11.3 8.5 1.9 14.3 9.8 13.3 18.5s-8.2 15.2-16.9 15.3c-4.7 0-8.5 3.8-8.5 8.5s3.8 8.5 8.5 8.5c8.7 0 16 6.6 16.9 15.3s-4.8 16.6-13.3 18.5c-8.5 1.9-17.1-3-19.8-11.3-1.5-4.5-6.3-6.9-10.8-5.4-4.5 1.5-6.9 6.3-5.4 10.8 4.5 13.6 17.1 22.9 31.5 23.3 14.3.4 27.4-8.3 32.7-21.6s1.6-28.6-9.2-38.1c10.6-9.4 14.4-24.4 9.4-37.7-5.1-13.2-17.8-22-32-22zM256 401.1c20-1.3 35.2-18.4 34.1-38.4 1.1-20-14.1-37.1-34.1-38.4-3.9 0-7.7.8-11.3 2.3 3.5-12.4 12-22.7 23.3-28.7 2.9-1.2 4.9-3.8 5.2-6.9.3-3.1-1-6.1-3.6-7.9-2.5-1.8-5.9-2.1-8.7-.7-38.7 17.4-39.2 73.7-39.2 76 .1.4.1.9.3 1.3-.1 1-.3 1.9-.3 3-.9 20 14.3 37.1 34.3 38.4zm0-59.8c10.5 1.3 18.1 10.8 17.1 21.3 1 10.6-6.5 20-17.1 21.3-10.5-1.3-18.1-10.8-17.1-21.3-1-10.5 6.6-19.9 17.1-21.3zm42.7-25.6v51.2c0 18.9 15.3 34.1 34.1 34.1s34.1-15.3 34.1-34.1v-51.2c0-18.9-15.3-34.1-34.1-34.1s-34.1 15.3-34.1 34.1zm51.2 0v51.2c0 9.4-7.6 17.1-17.1 17.1s-17.1-7.6-17.1-17.1v-51.2c0-9.4 7.6-17.1 17.1-17.1s17.1 7.7 17.1 17.1z"></path>
        </symbol>
      </svg>