<div>
    <a href="/products/เซรั่มเร่งผม">
        <img src="/assets/images/products/รัญญาฟาร์ม/เซรั่มเร่งผม/images/05.jpg" class="img-fluid" />
        <div class="text-center"><h5 class="name-product">เซรั่มเร่งผม</h5></div>
        <h5 class="price-product">฿350.00</h5>                            
        <div class="product-action d-flex justify-content-around">
            <a href="#like" data-toggle="tooltip" data-placement="top" title="" data-original-title="เพิ่มรายการที่สนใจ"><i class="ft-heart"></i></a><span class="saperator">|</span>
            
            <a href="#compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="จำนวนผู้เข้าชม">
                <i class="ft-eye"></i>
                <span>1.1K</span>
            </a><span class="saperator">|</span>                                
            <a href="#cart" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart"><i class="ft-shopping-cart"></i></a>
        </div>
    </a>
</div>