<div>
    <a href="products/ไก่เชียงพริกกะเหรี่ยง">
        <img src="assets/images/products/ไก่เชียงพริกกะเหรี่ยง/images/03.jpg" class="img-fluid" />
        <div class="text-center"><h5 class="name-product">ไก่เชียงพริกกะเหรี่ยง</h5></div>
        <h5 class="price-product">฿60.00 <span class="price-product-origin">฿65.00</span></h5>                            
        <div class="product-action d-flex justify-content-around">
            <a href="#like" data-toggle="tooltip" data-placement="top" title="" data-original-title="เพิ่มรายการที่สนใจ"><i class="ft-heart"></i></a><span class="saperator">|</span>
            
            <a href="#compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="จำนวนผู้เข้าชม">
                <i class="ft-eye"></i>
                <span>900</span>
            </a><span class="saperator">|</span>                                
            <a href="#cart" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart"><i class="ft-shopping-cart"></i></a>
        </div>
    </a>
</div>